@{
    ViewData["Title"] = "Home Page";
}
 
@{
    string[] cities = new string[] { "L", "P", "B" };
    string[] countries = new string[] { "V", "F", "G" };
}
@using HtmlHelpersApp.App_Code
 
<h3>Gorodaа</h3>
@Html.CreateList(cities)
<br />
<h3>Strany</h3>

@ListHelper.CreateList(Html, countries)